<div >
	
	<table class="table">
		<thead>
			<th>Franchise Name</th>
			<th>Franchise Number</th>
			<th></th>
			<th><a ng-click="newForm()" class="btn btn-primary btn-small">New Franchise</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="franchise in franchises" >
				<td ng-model="franchiseName">{{franchise.franchise_name}}</td>
				<td ng-model="franchiseNumber">{{franchise.franchise_number}}</td>
				<td><a class="btn btn-mini">Edit</a></td>
				<td><a ng-click="destroyFranchise()" class="btn btn-danger btn-mini">Delete</a></td>
				
			</tr>
		</tbody>
	</table>
	
	<table id="new_franchise_table" class="table">
		<thead>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>				
				<form>
					<td>
			        <input type="text" ng-model="franchiseName"  size="30"
			               placeholder="Franchise Name">
		         </td>
		         <td>
		           <input type="text" ng-model="franchiseNumber"  size="30"
		            		placeholder="Franchise Number">
	           </td>
	           <td>
	           	 <a ng-click="cancelAdd()" class="btn">Cancel</a>
	           </td>
	           <td>
		        	<input ng-click="saveFranchise()" class="btn-primary" type="submit" value="Save Franchise">
		        </td>
		      </form>
		     
	      </tr>
      </tbody>
	</table>
	
	
	
	<!-- <table class="table">
		<thead>
			<th>Franchise Name</th>
			<th>Franchise Number</th>
			<th></th>
			<th><a class="btn btn-primary btn-small">New Franchise</a></th>
		</thead>
		<tbody>
			<tr ng-repeat="franchise in franchises">
				<td>{{franchise.franchise_name}}</td>
				<td>{{franchise.franchise_number}}</td>
				<td><a class="btn btn-mini">Edit</a></td>
				<td><a class="btn btn-danger btn-mini">Delete</a></td>
			</tr>
		</tbody>
	</table>
	 -->




<%= nested_form_for(@franchise_set) do |set_form| %>
		  <% if @franchise_set.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@franchise_set.errors.count, "error") %> prohibited this franchise_set from being saved:</h2>
		
		      <ul>
		      <% @franchise_set.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		
		
	<div class="well">	
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#home" data-toggle="tab">Details</a></li>
		  <li><a href="#profile" data-toggle="tab">Users</a></li>
		  <li><a href="#messages" data-toggle="tab">Features</a></li>
		  <li><a href="#settings" data-toggle="tab">Franchises</a></li>
		</ul>
	
	<div class="tab-content">
		
		<div class="tab-pane active" id="home">
		
		  <div>    
		  	 <%= set_form.label :set_name, "Franchise Set Name" %>
		    <%= set_form.text_field :set_name %>
		  </div>
		  <div>    
		  	 <%= set_form.label :set_id, "Franchise Set ID" %>
		    <%= set_form.text_field :set_id %>
		  </div>
		  <div>    
		  	 <%= set_form.label :soa_id, "SOA ID" %>
		    <%= set_form.text_field :soa_id %>
		  </div>
		  <div> 
		  	 <%= set_form.label :address, "Address" %>   
		    <%= set_form.text_field :address %>
		  </div>
		  <div>  
		  	 <%= set_form.label :time_zone, "Time Zone" %>  
		    <%= set_form.select :time_zone, options_for_select([ "Eastern", "Central", "Mountain", "Pacific" ]) %><br />
		  </div>
		  <div>
		  	 <%= set_form.label :country, "Country" %>
		    <%= set_form.select :country, options_for_select([ "United States", "Canada" ], "United States") %><br />
		  </div>
		  <div>   
		  	 <%= set_form.label :temperature, "Temperature" %> 
		    <%= set_form.select :temperature, options_for_select([ "Fahrenheit", "Celsius" ]) %><br />
		  </div>
		 				
		</div>
	
		<div class="tab-pane" id="profile">
			
			<h2>Users</h2>

			<table class="table">
			  <tr>
			    <th>User Name</th>
			    <th>Franchise Set</th>
			    <th>User Domain</th>			    
			    <th></th>
			    <th></th>
			  </tr>
			
			<% @franchise_set.users.each do |user| %>
			  <tr>
			    <td><%= user.user_name %></td>
			    <td><%= user.franchise_set.set_name %></td>
			    <td><%= user.user_domain %></td>			    
			    <td><%= link_to 'Edit', "/franchise_sets/#{@franchise_set.id}/users/#{user.id}/edit", :class => "btn btn-small" %></td>
			    <td><%= link_to 'Delete', "/franchise_sets/#{@franchise_set.id}/users/#{user.id}", confirm: 'Are you sure?', :class => "btn btn-danger btn-small", :method => :delete %></td>
			  </tr>
			  
			<% end %>
			</table>
			
			<br />
			
			<%= link_to 'New User', new_franchise_set_user_path([@franchise_set]), :class => 'btn btn-primary' %>

					
		</div>
	
		<div class="tab-pane" id="messages">
			

		</div>
	
		<div class="tab-pane" id="settings">
	   	<h2>All Franchises</h2>
			 			
			<table class="table">
				<thead>
					<tr>
						<th>Franchise Name</th>
						<th>Franchise Number</th>
					</tr>
					
				</thead>
				<tbody>	
			<%= set_form.fields_for :franchises do |franchise_form| %>	
			<fieldset>			
				<tr>
					<td>						
						<%= franchise_form.text_field :franchise_name %>
						<a href="#" rel="tooltip" title="Make Changes in box, then Save Changes below." class="edit_franchise_tooltip"><i class="icon-edit"></i></a>
					</td>
					<td>						
						<%= franchise_form.text_field :franchise_number %>
						<a href="#" rel="tooltip" title="Make Changes in box, then Save Changes below." class="edit_franchise_tooltip"><i class="icon-edit"></i></a>
					</td>
					<td>
						<%= franchise_form.link_to_remove "Remove Franchise", :class => "btn btn-danger" %>
					</td>
				</tr>	
				</fieldset>				
			<% end %>
			</tbody>
			</table>		
									
		<%= set_form.link_to_add "Add a Franchise", :franchises, :class => "btn btn-primary" %>
						
	   </div>	   	
	</div>	
</div>

<div class="actions span12">		
	<%= set_form.submit "Save Changes", :class => 'btn btn-primary'%>
	<%= link_to 'Cancel', franchise_sets_path, :class => 'btn ' %>
</div>


<% end %>


</div>






<!-- Pass franchise set id into javascript  -->
<script type="text/javascript">

	
		var franchise_set_id = <%= @franchise_set.id %>
		//alert(franchise_set_id)
		

	
</script>






